body {
  font-family: 'Lato', sans-serif;
  margin: 50px;
}

.row {
  display: flex;
  width: 100%;
}


.calendar {
  /* display: block; */
  min-width: 500px;
  /* margin: 0px auto; */
  font-size: 20pt;
}

.month {
  height: 40px;
  background:white;
}

.month-name { 
  flex: auto;
  /* text-transform: uppercase; */
}

.month-year {
  flex: auto;
  font-weight: 300;
}

.arrow {
  text-align: center;
  cursor: pointer;
  height: 100%;
  color: #A9A9A9;
  display: flex;
  justify-content: center;
  flex-basis: 10%;
  align-items: center;
}


.day-names {
  color: grey;
  font-weight: bold;
  cursor: default;
  font-size: 11pt;
}

.day-names-span {
  flex: auto;
  text-transform: uppercase;
  font-weight: 100;
  height: 35px;
}

.week {
  /* border-top: solid 1px black */
  cursor: pointer;
}


.today {
  background: lightblue;
}

.different-month {
  color: pink;
}

/* .selected {
  background: yellow;
  color: black;
} */


.selected::after {
  /* flex:auto; */
  position: absolute;
  content: "";
  width: 40px;
  padding-bottom: 30px;
  /* border-radius: 80%; */
  background: yellow;
  opacity: .5;
  transform: translate(-100%, 15%) scale(1, 1);
  transition: transform .2s ease-out 0s;
  z-index: -1;
}

.selected:hover::after {
  opacity: 1;
  transform: translate(-100%, 15%) scale(1, 1);
}
 

.wrapper {
	padding: 5px;
	/* max-width: 960px; */
	width: 95%;
	margin: 20px auto;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
  /* flex: 1; */
  min-width: 300px;
	border: 1px solid gray;
	margin: 2px;
	padding: 10px;
}

.column:first-child { 
  margin-left: 0;
}

.column:last-child { 
  margin-right: 0; 
}

@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
  }
  
  .columns .column::nth-last-child(2) {
    margin-right: 0;
  }

  .columns .column:last-child {
    flex-basis: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}

.middle-grid {
  text-align: center;
  width: 300px;
}

.last-grid {
  width: 300px;
}

.timeslot {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.timeslot::after {
  display: block;
  position: absolute;
  content: "";
  width: 110%;
  height: 0;
  padding-bottom: 110%;
  border-radius: 50%;
  top: 0%;
  left: 50%;
  background: lightblue;
  opacity: .2;
  transform: translate(-50%, -50%) scale(0, 0);
  transition: transform .2s ease-out 0s;
  z-index: -1;
}

.timeslot:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1, 1);
  transition: transform .3s ease-out 0s;
}